[client]
host     = localhost
user     = root
password = kl32j42l2kj34
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = root
password = kl32j42l2kj34
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
